@import url("https://rsms.me/inter/inter.css");
html,
body,
#root {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
    width: 100vw;
    height: 100vh;
}

body {
    background: white;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
}

#root {
    width: 80ch;
}

h1 {
    position: absolute;
    bottom: 14px;
    left: 84px;
    padding: 0;
    margin: 40px;
    font-size: 3em;
    line-height: 0.7em;
    letter-spacing: -2px;
    color: #272730;
}

.picker {
    position: absolute !important;
    bottom: 20px;
    left: 20px;
    width: 90px !important;
    height: 90px !important;
}